#app4{
  border: 1px solid #000;
  width: 50vw;
  height: 50vh;
}
#wear{
  position: relative;
  left: 5vw;
  top:5vw;
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  background: blue;
}
@keyframes wear {
  0%{
    background:blue;
  }
  100%{
    background:red;
  }
}
#wear.change{
  animation:wear 2s infinite alternate;
}